/* dean.edwards/2004 */
/* keeping code tidy! */

/* provide explorer support for css2 selectors */
@import url(test.css);

@namespace my url(http://dean.edwards.name/space);

my|test {
	border: silver 1px solid;
	margin: 1em 0.3em;
	width: 9em;
}

my|test:active {
	background: yellow;
}

/* http://dean.edwards.name/ */
