/* dean.edwards/2004 */
/* keeping code tidy! */

/* provide explorer support for css2 selectors */
@import url(test.css);

@namespace my url(http://dean.edwards.name/space);

my|a {
	display: inline;
}

my|a[href] {
	color: #00e;
	cursor: hand;
	text-decoration: underline;
}

my|a[href="http://dean.edwards.name/"] {
	background: yellow;
}

/* http://dean.edwards.name/ */
