/* dean.edwards/2004 */
/* keeping code tidy! */

/* provide explorer support for css2 selectors */
@import url(test.css);

@namespace my url(http://dean.edwards.name/space);


my|test {
	border: black 8px solid;
	margin: 20px;
	padding: 8px;
}

my|test:empty {
	background: yellow;
}

/* http://dean.edwards.name/ */
