/* dean.edwards/2004 */
/* keeping code tidy! */

/* provide explorer support for css2 selectors */
@import url(test.css);

@namespace my url(http://dean.edwards.name/space);

my|test {
	margin: 1em 0.3em;
}

my|child {
	display: list-item;
	margin-left: 2em;
}

my|child:last-child {
	background: yellow;
}

/* http://dean.edwards.name/ */
