/* dean.edwards/2004 */
/* keeping code tidy! */

/* provide explorer support for css2 selectors */
@import url(test.css);

@namespace my url(http://dean.edwards.name/space);

my|test {
	margin: 1em 0.3em;
}

my|example {
	display: list-item;
	margin-left: 2em;
}

.bold {
	font-weight: bold;
}

.blue {
	color: blue;
}

.bold.blue {
	background: yellow;
}

/* http://dean.edwards.name/ */
