/* dean.edwards/2004 */
/* keeping code tidy! */

/* provide explorer support for css2 selectors */
@import url(test.css);

@namespace my url(http://dean.edwards.name/space);

my|background {
	margin: 40px 0px;
	padding: 20px;
	background: #584ca2 url("purple_stucco.jpg");
}

my|png-background {
	background-image: url(tukan-trans.png);
	width: 150px;
	height: 150px;
}

/* http://dean.edwards.name/ */
