virtuoso
virtuoso-udbc
virtuoso-iodbc
virtuoso-f
virtuoso-udbc-f
virtuoso-iodbc-f
virtuoso-t
virtuoso-udbc-t
virtuoso-iodbc-t
*.db
*.log
*.trx
*.lck
*.pxa
*.la
*.lo
.libs
.deps
deps.mk
Makefile.in
Makefile
