/* Slidebar */

#slb {
  background: #efefef;
  height: 100%;
  right: 0px;
  top: 0px;
  width: 15px;
  position: absolute;
  overflow: hidden;
  /*
  background-image: url(slidebar_c_bkg.png);
  background-repeat: repeat-y;
  */
}

/*
.slb {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  width: 10px;
}
*/

.slb_handle {
  width: 15px;
  height: 100%;
  background-color: #aaa;
  position: absolute;
  border-right: 2px solid #575;
}

.slb_handle_img {
position: absolute;
border-top: 2px solid #575;
border-bottom: 2px solid #575;
border-left: 2px solid #575;
}

.slb_content {
  color: #334;
  position: absolute;
  height: 100%;
  /* border: 1px solid yellow; */
  top: 0px; left: 10px;
}

