html { margin: 0; padding: 0; }
body {
  font-size: 10pt;
  font-family: gill sans, sans-serif;
  margin: 0}

#rdficon {
  float: right;
  position: relative;
  top: -28px;
  vertical-align: middle;
  padding: 3px;
  border: 1px solid #fff}

#header {
  width: 100%;
  float: left;
  clear: left;
  border-bottom: 2px solid #696}

#hd_l { width: 85%; float: left; clear: left; margin: 10px 5px 10px 10px}
#hd_r { width: 12%; float: right; clear: right; text-align: right; margin: 0 10px 0 5px}

#homelink { display: inline; }
#homelink, #homelink a { color: #666; }
#homelink a { font-weight: bold; text-decoration: none; }
#homelink a:hover { color: red; text-decoration: underline; }

h1, h2 { font-size: 14pt; color: #224; }
#entity_info h1 { display: inline; font-weight: bold; margin: 0; text-align: left; }
h2 { font-weight: normal; font-size: 124%; margin: 1.2em 0 0.2em; }

#sidebar h1 {color: #3c9bbc; font-size: 110%; }
.opl_badge { text-align: center; }

.page-resource-uri { font-size: 124%; margin: 0.2em 0; font-style: italic; }
.page-resource-uri a { color: blue; text-decoration: underline; }
.page-resource-uri a:hover { color: red; text-decoration: underline; }
.page-resource-uri label { font-size: smaller; font-style: normal; font-weight: bold}

a.sparql-uri { color: black; text-decoration: none; }
a.sparql-uri:hover { color: red; text-decoration: underline; }

img { border: none; }

table.description { border-collapse: collapse; clear: left; font-size: 100%; margin: 0 0 1em; width: 99%; }
table.description th { text-align: left; }
table.description td, table.description th { line-height: 1.2em; padding: 0.2em 0.4em; vertical-align: top; }
table.description ul { margin: 0; padding-left: 0em; }
table.description li { list-style-type: square; }
.uri { white-space: nowrap; }
.uri a, a.uri { text-decoration: none; }
a.uri:hover { text-decoration: underline }
.unbound { color: #888; }
table.description a small { font-size: 100% }
table.description small { font-size: 100%; }
table.description .property { white-space: nowrap; color: black; }
table.description .value { color: black; }
table.description .referenced_by { color: black; }
table.description .odd td { }
table.description .even td { }
.image { background: white; float: left; margin: 0 1.5em 1.5em 0; padding: 2px; }
a.expander { text-decoration: none; }
a.rdf_source { text-decoration: none; color: #666;}
a.rdf_source img { vertical-align: middle;margin-right: 5px;}
#rdficon:hover { background-color: #eef; border: 1px solid #666;}

#content_wrapper {
  width: 100%; float: left; clear: left;}

#content {
  width: 100%;
  float:left;
}

#attributes { margin: 10px } 

#x_content {
  width: 100%; 
  height: 300px;
  margin-top: 3px;
  margin-bottom: 3px}


#err { color: red; font-size: 120%; }

#sidebar {
  padding: 5px 10px 5px 10px;
  color: #4e4e4e;
}

#footer {
  width: 100%;
  float: left;
  clear: both;
  color: #666;
  border-top: 2px solid #696;
  margin: 1.2em 0 0;
  background-color: #fff;
  margin-bottom: 30px}

#ft_r { float: right; clear: right;}
#ft_t { text-align: center; margin-top: 2ex}
#ft_b { text-align: center; margin-top: 0.7ex }

.datatype {
  margin-left: 0.5em;
  background-color: inherit;
  color: rgb(20,100,10);
  font-size: 0.9em;
}

#opl_logo { float: left; clear: left; height: 55px; margin-right: 15px}
#opl_logo img { height: 55px; float: left; clear:left}
#entity_info { float: left; }

/* area controlled by navigation tabs */

#navarea {
	background-color: white;
	width: 100%;
	margin: 0;
	padding: 0;
}

#navarea li {
	font-size: 80%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 175%;
}

/* navigation tabs */

#navlist {
padding: 3px;
margin-left: 0;
padding-bottom: 3px;
border-bottom: 1px solid #778 }

#navlist li {
list-style: none;
margin: 0;
display: inline;
  line-height: 120% }

#navlist li a {
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #778;
border-bottom: none;
background: #DDE;
text-decoration: none;
  line-height: 120% }

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover {
color: #000;
background: #AAE;
border-color: #227;
  border-bottom: none }

#navlist li a.current {
background: white;
  border-bottom: none;
line-height: 120%;
  padding-bottom: 5px; }

#qrcode { 
  float: right;
  clear: right;
  margin-right: 20px; } 

#FT_share { float: center; clear: both; text-align: center; margin-top: 4px; }

.addthis_toolbox { width: 400px; margin: 0 auto; }

#status { margin-left:10px; margin-bottom: 3px; position:fixed; bottom:10px; }
