<?xml version="1.0" ?>
<configuration>
    <appSettings>
        <!-- This is a SECRET tripple-des key. The samples store this in configuration.
             Ideally this secret would be in secure storage -->
        <add key="symmetricKey" value="EE/uaFF5N3ZNJWUTR8DYe+OEbwaKQnso" />
    </appSettings>

    <!-- This is the WSDK configuration section -->
	<microsoft.wsdk>
        <!-- Set the enabled attribute to "true" for input and output tracing -->
		<diagnostics>
			<trace enabled="true" />
		</diagnostics>
	</microsoft.wsdk>
</configuration>

