#
#  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
#  project.
#
#  Copyright (C) 1998-2026 OpenLink Software
#
#  This project is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by the
#  Free Software Foundation; only version 2 of the License, dated June 1991.
#
#  This program is distributed in the hope that it will be useful, but
#  WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
#  General Public License for more details.
#
#  You should have received a copy of the GNU General Public License along
#  with this program; if not, write to the Free Software Foundation, Inc.,
#  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
#
#
#  Throwaway artifacts left behind by make_vad.sh: the built package, the
#  build log, and the files of the temporary Virtuoso instance it spins up.
#  The vad/data/ staging copies are intentionally tracked and are NOT ignored.
#
/opengql_dav.vad
/make_opengql_vad.log
/vad.db
/vad.log
/vad.tdb
/vad.trx
/vad.lck
/virtuoso.ini
/virtuoso.db
/virtuoso.log
/virtuoso.trx
/virtuoso.tdb
/virtuoso.pxa
