#!/bin/bash

set -e

. /usr/share/debconf/confmodule

if [ -n "$DEBIAN_SCRIPT_DEBUG" ]; then set -v -x; DEBIAN_SCRIPT_TRACE=1; fi
${DEBIAN_SCRIPT_TRACE:+ echo "#42#DEBUG# RUNNING $0 $*" 1>&2 }

if [ -e /usr/bin/odbcinst ]; then
	db_title "Virtuoso ODBC Setup"

	# default to true since odbcinst is available
	db_set libvirtodbc0/register-odbc-driver "true" || true
	db_input medium libvirtodbc0/register-odbc-driver || true
	db_go
fi
exit 0
