/* Cascading Style Sheet for IE4.01 last updated 10-16-97 */


body		{ background: #FFFFFF; 
		 font-size: 70%;  			/* SMS */	
		font-family: Verdana, Arial, Helvetica, MS Sans Serif  }

a:link		{ color: #008000; } 

a:active	{ color: #8FBC8B; }

a:visited 	{ color: #996699; }

p		{ margin-top: .6em; margin-bottom: .6em	}

p.bigfix	{ margin-top: -.4em; margin-bottom: 0em;}

p.margin	{ margin-left: 2em; margin-top: -1.75em;}	/*for SMS links*/

/*	HEADING TAGS	*/

h1	{xfont-size: 145%; 
	font-size: 200%; 
	margin-bottom: .5em}

h2	{xfont-size: 125%;  
	font-size: 160%; 
	margin-top: 1.5em;
	margin-bottom: .5em}

h3	{xfont-size: 110%; 
	font-size: 140%; 
	margin-top: 1.2em;  
	margin-bottom: .5em}

h4	{xfont-size: 105%;
	font-size: 120%; 
	margin-top: 1.2em;
	margin-bottom: .5em}

h5	{font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em}

big	{font-weight: bold; 
	font-size: 105%}
		
p.proclabel	{ font-weight: bold;
		font-size: 100%;
		margin-top: 1.2em }  	/*procedure heading*/


/*	LIST TAGS	*/

ol	{ margin-top: .6em; margin-bottom: 0em; margin-left: 4em }	
ul	{ margin-top: .6em; margin-bottom: 0em }	
ol ul	{ list-style: disc; margin-top: .6em  }
li	{ margin-bottom: .7em; margin-left: -2em }

/*	TERM AND DEFINITION TAGS	*/

dl	{margin-top: 0em }
dt	{font-weight: bold;
	margin-top: 1em;
	margin-left: 0em; 	/* for SMS terms */ 
	/* margin-left: 1.5em; */ }
dd	{margin-bottom: 0em;	/*not currently working*/
	margin-left: 1.5em  }
dl li	{margin-bottom: .7em }	/*list item inside a term/def list*/
dl dl	{margin-top: 0em;
	margin-left: 0em }	/*term/def list inside a term/def list*/


/*	TABLE TAGS	*/

table	{font-size: 100%;
	margin-top: 1em
	/*margin-bottom: 1em */}
		
th	{text-align: left;
	vertical-align: bottom;
	background: #dddddd}
		
th.center	{text-align: center}

tr	{vertical-align: top}

td	{ vertical-align: top;
	/*background: #eeeeee*/ }	/*not used for K2*/


/*	MISC. TAGS	*/

pre	{ font-family: Courier;
	margin-top: 1.2em;
	margin-bottom: 1.5em }
		
code	{ font-family: Courier;
	font-size: 125%;  }

/* ADDED BY A-ANDRIT FOR SQLDOC */
.NTI	{color: blue}
.WC	{color: red}
.PROCHW	{font-weight: bold}
.PROCHL	{font-weight: bold}
.EX	{font-family: Courier;
	margin-top: 0em;
	margin-bottom:0em}
.EXI	{font-family: Courier;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 2em}
.indent1	{margin-left: 2em}
.indent2	{margin-left: 4em}