html { margin: 0; padding: 0; }
body { font-family: sans-serif; font-size: 80%; margin: 0; padding: 1.2em 2em;  background: #cec; }

#header { width: 100%; float: left; clear: left; border-bottom: 2px solid #696; margin: 0 0 1.2em; padding: 0 0 0.3em; }
#hd_l { width: 80%; float: left;}
#hd_r {float: right; clear: right;}

#homelink { display: inline; }
#homelink, #homelink a { color: #666; }
#homelink a { font-weight: bold; text-decoration: none; }
#homelink a:hover { color: red; text-decoration: underline; }

h1 { display: inline; font-weight: normal; font-size: 200%; margin: 0; text-align: left; }
h2 { font-weight: normal; font-size: 124%; margin: 1.2em 0 0.2em; }
h1, h2 { color: #810; }

.page-resource-uri { font-size: 124%; margin: 0.2em 0; }
.page-resource-uri a { color: black; text-decoration: none; }
.page-resource-uri a:hover { color: red; text-decoration: underline; }

a.sparql-uri { color: black; text-decoration: none; }
a.sparql-uri:hover { color: red; text-decoration: underline; }

img { border: none; }

#content {width: 100%; float: left; clear: left;}

#footer { width: 100%;float: left; clear: left;border-top: 2px solid #696; margin: 1.2em 0 0; padding: 0.3em; background-color: #fff;}
#ft_r { float: right; clear: right;}
#ft_t { text-align: center; }
#ft_b { text-align: center; margin-top: 0.7ex }

table.description { border-collapse: collapse; clear: left; font-size: 100%; margin: 0 0 1em; width: 100%; }
table.description th { background: white; text-align: left; }
table.description td, table.description th { line-height: 1.2em; padding: 0.2em 0.4em; vertical-align: top; }
table.description ul { margin: 0; padding-left: 0em; }
table.description li { list-style-type: square; }

.uri { white-space: nowrap; }
.uri a, a.uri { text-decoration: none; }
.unbound { color: #888; }

table.description a small { font-size: 100%; color: #55a; }
table.description small { font-size: 100%; color: #666; }
table.description .property { white-space: nowrap; }
table.description .odd td { background: #d4f6d4; }
table.description .even td { background: #f0fcf0; }

.image { background: white; float: left; margin: 0 1.5em 1.5em 0; padding: 2px; }

a.expander { text-decoration: none; }
