/* dock */

.dock_column {
	float: left;
	width: 32%;
	padding: 0.5em;
	border-right: 1px dotted #888;
}

.dock_column_0 { }
.dock_column_1 { }
.dock_column_2 { }

.dock_blank {
	border: none !important;
	background-color: #ccc;
}

.dock_content {
	overflow: auto;
	max-height: 500px;
}
