.oat_winround_container {
	border: 1px solid #666666;
	background-color: #ffffff;
}

.oat_winround_content {
	padding: 2px;
	position: relative;
	top: -5px;
	margin-bottom: 11px;
}

.oat_winround_title {
	font: menu;
	height: 19px;
	position: relative;
	top: -5px;
	text-align: center;
}

.oat_winround_caption {
	color: #333333;
	font-weight: bold;
	position: relative;
	top: 3px;
}

.oat_winround_status {
	height: 16px;
	bottom: 0px;
	left: 2px;
	position: absolute;
	width: 100%;
	font-size: 0.8em;
}

.oat_winround_blankSpace {
	height: 100%;
	position: relative;
}

.oat_winround_close_b {
	float: right;
	width: 14px;
	height: 13px;
	cursor: pointer;
	position: relative;
	right: 3px;
	top: 3px;
}

.oat_winround_resize_b {
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: -3px;
	right: 3px;
	z-index: 2;
	background-image: url("../images/MacWin_resize.gif");
	background-repeat: no-repeat;	/* ie hack */
	background-position: bottom right;	/* ie hack */
}

.oat_winround_close_b {
	background-image: url("../images/RectWin_close.gif");
}

.oat_winround_container div.oat_anchor_arrow {
	position: absolute;
	top: -40px;
	left: 20px;
	width: 30px;
	height: 35px;
	background-image: url("../images/RectWin_lt.gif");
}
.oat_winround_container div.oat_anchor_arrow_bottomright {
	position: absolute;
	bottom: -40px;	right: 20px;	width: 30px;	height: 35px;
	background-image: url("../images/RectWin_rb.gif");
}
.oat_winround_container div.oat_anchor_arrow_bottomleft {
	position: absolute;
	bottom: -40px;	left: 20px;	width: 30px;	height: 35px;
	background-image: url("../images/RectWin_lb.gif");
}
.oat_winround_container div.oat_anchor_arrow_topright {
	position: absolute;
	top: -40px;	right: 20px;	width: 30px;	height: 35px;
	background-image: url("../images/RectWin_rt.gif");
}
.oat_winround_container div.oat_anchor_arrow_topleft {
	position: absolute;
	top: -40px;	left: 20px;	width: 30px;	height: 35px;
	background-image: url("../images/RectWin_lt.gif");
}
