<?xml version="1.0" ?>
<r:referrals xmlns:r="http://schemas.xmlsoap.org/ws/2001/10/referral">
  <r:ref>
    <r:for>
      <r:exact>http://<virtuoso:port>/SumService</r:exact>
    </r:for>
    <r:if />
    <r:go>
      <r:via>http://<virtuoso:port>/router</r:via>
    </r:go>
    <r:refId>uuid:fa469956-0057-4e77-962a-81c5e292f2ff</r:refId>
  </r:ref>
</r:referrals>
