<?xml version="1.0" encoding="utf-8"?>
<!--configuration/-->
<configuration>
    <configSections>
        <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
  <microsoft.web.services2>
  <security>
            <securityTokenManager qname="wsse:UsernameToken" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
	    <label>WS-Security</label>
	    <keyAlgorithm name="TripleDES"/>
	    </securityTokenManager>
	    </security>
  </microsoft.web.services2>
</configuration>
